@font-face {
    font-family: Lemonada_Bold;         src: url(./../../fonts/Lemonada-Bold.ttf);
}
@font-face {
    font-family: Lemonada_Light;        src: url(./../../fonts/Lemonada-Light.ttf);
}
@font-face {
    font-family: Lemonada_Medium;       src: url(./../../fonts/Lemonada-Medium.ttf);
}
@font-face {
    font-family: Lemonada_Regular;      src: url(./../../fonts/Lemonada-Regular.ttf);
}
@font-face {
    font-family: Lemonada_SemiBold;     src: url(./../../fonts/Lemonada-SemiBold.ttf);
}
@font-face {
    font-family: Monserrat_Regular;     src: url(./../../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Monserrat_Light;       src: url(./../../fonts/Montserrat-ExtraLight.ttf);
}
html{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #000;
}
/**
* NavBar
*/
.navbar{
    width: 100%;
    border-bottom: solid #808080;
    text-transform: capitalize;
    background-color: #000;
}
.navbar-brand{
    font-family: Lemonada_Regular;
    font-style: italic;
}
.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: #808080;
}

/**
* header-page
*/
.header-page{
    width: 100%;
    height: 100vh;
    background-image: url('./../../img/header.jpg');
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-content{
    width: 100%;
    height: 100%;
    font-family: Lemonada_Regular;
    font-style: italic;
    color: #fff;
    background-color: #000000ad;
}
#header-logo{
    animation-name: logo_animate;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
@keyframes logo_animate {
    0% {transform: rotateY(0deg)}
    25% {transform: rotateY(180deg)}
    50% {transform: rotateY(360deg)}
    75% {transform: rotateY(180deg)}
    100% {transform: rotateY(0deg)}
}
main{
    background-color: #fff;
}
.title{
    text-transform: capitalize;
}

h3 {
    font-family: Monserrat_Regular;
    text-transform: capitalize;
    font-weight: bold;
}

h4,h5,p {
    font-family: Monserrat_Light;
}
h4,h5,h6{
    font-family: Lemonada_Regular;
    font-style: italic;
}

.footer-list{
    list-style-type: none;
    
}
/* unvisited link */
.footer-list a:link,.footer-list  a:visited,.footer-list a:active {
    color: #fff;
    text-decoration: underline;

}
  
/* mouse over link */
.footer-list a:hover{
    font-weight: bold;
    text-decoration: none;
}

#static{
    border-radius: 0.25rem !important;
    background-color: #000000 !important;
    border: solid 1px #ffffff !important;
    font-size: 13px !important;
    color: #ffffff !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    padding: 18px !important;
    border-radius: 6px !important;
    margin-right: 2px !important;
} 
  
.btn-social{
    margin: 0 5px !important;
    border-radius: 6px !important;
    background-color: #fff !important;
    color: #000 !important;
    padding: 1px 6px !important;
}
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(241, 241, 241);
    border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.644);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.644);
}
@media only screen and (max-width: 992px) {
    #hidden-col {
        display: none;
    }
    main{
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
    #equipe-header h1{
        font-size: 2rem;
    }
    #equipe-header h2{
        font-size: 1.5rem;
    }
}
main{
    padding-left: 3rem;
    padding-right: 3rem;
}