
@import url("bootstrap/bootstrap.css");
@import url("book-kit/book-kit.css");

p{
    font-weight: bolder;
}

.header-page{
    width: 100%;
    height: 70vh;
    background-image: url('./../img/team/team.jpg');
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    border: none;
}
.card-body{
    padding-left: 0;
    padding-right: 0;
}
h6.card-subtitle {
    font-family: Monserrat_Light !important;
    text-transform: capitalize !important;
    font-style: normal !important;
}
h5.card-title ,h6.card-subtitle {
    text-transform: capitalize;
}
